<?xml version="1.0" encoding="utf-8" ?>
<Config>
  <Resources>
    <Resource Name="Source" ResourceType="Location" LocationType="FTP">
      <Ftp>
        <Host>ft.exploredata.com</Host>
         <!--STAGING START-->
         <!--<UserName>IkvfA1+o82rUsQWute+DQdhRkn4nfVCgt90Ksg5Vnd4=</UserName> 
          <Password>2Rej5C/8X6Tna6+AYyHHa4C3lA+I8py3OHnlvfGFO1A=</Password>-->
         <!--STAGING END-->
         <UserName>nfgOiLlV2ln3JIybF0dZZw==</UserName>
         <Password>nMhfkRFyRaqLfdZbSoGnSSsEmeWtjw60qaJDCNZluoY=</Password>
        <KeyFilePath/>
        <FtpFolderPath>outgoing\</FtpFolderPath>
        <SuccessFolderPath/>
        <ErrorFolderPath/>
        <LocalTempProcDirectory>E:\Brassring\Temp\Source\</LocalTempProcDirectory>
      </Ftp>
    </Resource>
    <Resource Name="Logging" ResourceType="Location" LocationType="File">
      <File>
        <Path>E:\Brassring\Logs\</Path>
      </File>
    </Resource>
    <Resource Name="SuccessLocation" ResourceType="Location" LocationType="File">
      <File>
        <Path>E:\Brassring\Success\</Path>
      </File>
    </Resource>
    <Resource Name="ErrorLocation" ResourceType="Location" LocationType="File">
      <File>
        <Path>E:\Brassring\Error\</Path>
      </File>
    </Resource>
  </Resources>
  <Smtp>
    <Port>22</Port>
    <Host>smtpmx-r01.us.dom</Host>
    <EnableSsl>0</EnableSsl>
    <UseDefaultCredentials>0</UseDefaultCredentials>
    <UserName/>
    <Password/>
    <Mail>
      <From>grajama@velocityhcm.com</From>
      <To>ATSTeam@estes-express.com,Anne.Beasley@estes-express.com</To>
      <Subject>Log - IBM Brassring Integration</Subject>
      <IsHtml>1</IsHtml>
      <Body>
      &lt;pre&gt;
      Hi,
        
      SuperVision MVR reports are processed successfully. Please review the attached log file for more details.
    
      Thank you,
      Velocity HCM.
      &lt;/pre&gt;
      </Body>
    </Mail>
  </Smtp>
  <Integrations>
    <Integration Type="FormImport">
      <Request Type="Post" Url="https://trm.brassring.com/jetstream/500/presentation/template/asp/HRISIntegration/msgdispatch.asp">
        <RequestData>
          <Envelope>
            <![CDATA[<?xml version="1.0" encoding="UTF-8"?>
<Envelope version="01.00">
  <Sender>
    <Id>HRXMLEMPLID</Id>
    <Credential>26183</Credential>
  </Sender>
  <Recipient>
    <Id />
  </Recipient>
  <TransactInfo transactType="data">
    <TransactId>15747</TransactId>
    <TimeStamp>2020-05-08 08:14 AM</TimeStamp>
  </TransactInfo>
  <Packet>
    <PacketInfo packetType="data">
      <PacketId>1</PacketId>
      <Action>SET</Action>
      <Manifest>SUPERVISION_FORM</Manifest>
    </PacketInfo>
    <Payload></Payload>
  </Packet>
</Envelope>]]>
          </Envelope>
          <PayLoad>
            <![CDATA[<?xml version="1.0"?>
<form formTypeId="2708" formName="MVR Results Form" formId="" action="Update" resumeKey="233534" FirstName="" LastName="" email="" homePhone="" language="EN" autoreq="123BR" optionalreq="">
<FormInput name="94210" title="First Name"></FormInput>
<FormInput name="94211" title="Last Name"></FormInput>
<FormInput name="94212" title="MVR results found?"></FormInput>
<FormInput name="94213" title="Status Description"></FormInput>
</form>]]>
          </PayLoad>
        </RequestData>
      </Request>
    </Integration>
    <Integration Type="CandidateImport">
      <Request Type="Post" Url="https://trm.brassring.com/jetstream/500/presentation/template/asp/HRISIntegration/msgdispatch.asp">
        <RequestData>
          <Envelope>
            <![CDATA[<?xml version="1.0" encoding="UTF-8"?>
	<BRpartner:Envelope version="01.00" xmlns:BRpartner="http://trm.brassring.com/brpartner">
	  <Sender>
		<Id>HRXMLEMPLID</Id>
		<Credential>26183</Credential>
	  </Sender>
	  <Recipient>
	  <id type="email">grajama@velocityhcm.com</id>
	  </Recipient>
	  <TransactInfo transactType="data">
		<transactId>1234567</transactId>
		<timeStamp>2020-05-10 12:07 PM</timeStamp>
	  </TransactInfo>
	  <Packet>
		<PacketInfo packetType="data">
		  <packetId>1</packetId>
		  <Action>UPDATESKIPPROFILE</Action>
		  <Manifest>SUPERVISION_CANDIDATE_UPLOAD</Manifest>
		</PacketInfo>
		<Payload></Payload>
	  </Packet>  
	</BRpartner:Envelope>
	]]>
          </Envelope>
          <PayLoad>
            <![CDATA[<?xml version="1.0" encoding="UTF-8"?>
	<Candidate xmlns:RHrxml="http://ns.hr-xml.org/2004-08-02" xmlns:BRpartner="http://trm.brassring.com/brpartner">
		<CandidateRecordInfo>
			<Id idOwner="CandidateId">
				<IdValue>853303</IdValue>
			</Id>
			<Status>Active</Status>
		</CandidateRecordInfo>
		<CandidateSupplier relationship="x:vendor">
			<SupplierId>
				<IdValue>No Import</IdValue>
			</SupplierId>
			<EntityName/>
		</CandidateSupplier>
		<CandidateProfile xml:lang="EN">
			<PersonalData>
				<PersonName>
					<GivenName>test</GivenName>
					<MiddleName/>
					<FamilyName>Roddick</FamilyName>
				</PersonName>
				<ContactMethod>
					<Location>home</Location>
					<PostalAddress>
						<CountryCode>ZZ</CountryCode>
					</PostalAddress>
				</ContactMethod>
			</PersonalData>
			
			<UserArea>
		  <BRpartner:codes>
					<BRpartner:code>No Import</BRpartner:code>
					<BRpartner:code>No Source</BRpartner:code>
					<BRpartner:code>[AutoReqId]</BRpartner:code>
				</BRpartner:codes>
				<BRpartner:candidatetype>External</BRpartner:candidatetype>										
				<BRpartner:attachments>
							  <BRpartner:attachment attachtoreqs ='specified'>
								<BRpartner:documentguid>FCD798AF-99A4-4595-A6F5-8E591F2B1613</BRpartner:documentguid>
								<BRpartner:filename>filename</BRpartner:filename>
								<BRpartner:fileextn>PDF</BRpartner:fileextn>
								<BRpartner:acategoryid>787</BRpartner:acategoryid>                            
                <BRpartner:file></BRpartner:file>
								<BRpartner:reqs>
								  <BRpartner:reqcode>545BR</BRpartner:reqcode>
								</BRpartner:reqs>
							  </BRpartner:attachment>                         
							</BRpartner:attachments>
			</UserArea>
		</CandidateProfile>
	</Candidate>]]>
          </PayLoad>
        </RequestData>
      </Request>
    </Integration>
  </Integrations>
</Config>