<?xml version="1.0" encoding="utf-8" ?>
<Config>
  <Resources>
    <Resource Name="Logging" ResourceType="Location" LocationType="File">
      <File>
        <Path>D:\SuperVision\Logs\</Path>
      </File>
    </Resource>
    <!--<Resource Name="SuccessLocation" ResourceType="Location" LocationType="File">
      <File>
        <Path>D:\SuperVision\Success\</Path>
      </File>
    </Resource>
    <Resource Name="ErrorLocation" ResourceType="Location" LocationType="File">
      <File>
        <Path>D:\SuperVision\Error\</Path>
      </File>
    </Resource>-->
  </Resources>
  <Smtp>
    <Port>22</Port>
    <Host>smtpmx-r01.us.dom</Host>
    <EnableSsl>0</EnableSsl>
    <UseDefaultCredentials>0</UseDefaultCredentials>
    <UserName/>
    <Password/>
    <Mail>
      <From>grajama@velocityhcm.com</From>
      <To>g.rajamahanthy@gmail.com,grajama@velocityhcm.com.com</To>
      <Subject>Log - Supervision to IBM Brassring Integration</Subject>
      <IsHtml>1</IsHtml>
      <Body></Body>
    </Mail>
  </Smtp>
  <Integrations>
    <Integration Type="SuperVisionOrderRequest">
      <Request Type="Post" Url="https://sandbox.services.esupervision.com/Request/sver/Orders/CreateOrder">
        <RequestData>
          <Envelope>
          </Envelope>
          <PayLoad>
            <![CDATA[
            {
              "requestDetails": {
              "requestClientData": {
              "clientID": 90296,
              "clientName": "Estes Express Lines",
              "destinationUrl": "\\\\explore\\prd\\internet_sftp\\sft1011sb\\outgoing"
            },
            "requestDriverData": [
              {
                "driverReferenceNumber": "1154661",
                "licenseNumber": "062927541",
                "licenseState": "TN",
                "cdlStatus": "Y",
                "reportType": "RM",
                "firstName": "RATHMONY",
                "middleName": "James",
                "lastName": "ALDEZ",
                "birthDate": "1989-08-25",
                "quoteback": "My Quoteback",
                "allowMultipleMVROrdersPerDay": "Y",
                "socialSecurityNumber": "332112345"
              }
            ],
              "externalReference": "External Reference"
            },
              "userName": "estes.int",
              "password": "T3am3st3s"
            }
            ]]>
          </PayLoad>
        </RequestData>
      </Request>
    </Integration>
  </Integrations>
</Config>